.showResults {
  margin-top: 5%;
}
.resultsContainer {
  width: 95%;
  position: relative;
}

.mainTitle {
  width: 30%;
  font-size: 25px;
  color: white;
  margin-left: 10px;
  margin-top: 55px;
  margin-bottom: 0;
}

.pageButtons {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: bolder;
}

.pageButtons button {
  margin: 5px 20px 15px 20px;
  padding: 5px 20px 5px 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 15px;
  font-size: 25px;
  font-weight: bold;
  transition: 0.2s;
  z-index: 5;
  color: white;
  border-bottom: 1px solid white;
  margin-right: 10%;
  margin-left: 10%;
}

.pageButtons button:hover {
  border-bottom: 1px solid yellow;
  color: yellow;
}

.pageButtons div {
  margin-top: 10px;
}

.movieOrSeries {
  display: inline-block;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
