.results {
  position: relative;
  left: 15%;
  width: 85%;
}

.backBtn {
  color: white;
  transition: 0.2s;
  width: 10%;
  cursor: pointer;
  float: right;
  margin: 0;
}

.backBtn:hover {
  border-bottom: 1px white solid;
}
