.topRatedContainer {
  width: 11vw;
  display: inline-block;
  margin: 2%;
  transition: 0.5s;
  text-align: center;
  font-size: 1vw;
}

.topRatedContainer:hover {
  transform: scale(1.2);
  cursor: pointer;
  z-index: 10;
}

.rateText {
  color: yellowgreen;
}

.title {
  color: green;
}

.link {
  color: white;
}
.img {
  width: 9vw;
}
