.mainContainer {
  color: white;
}

.header {
  background-color: rgb(53, 53, 53);

  color: white;
}

.title {
  width: 50%;
  font-family: cursive;
  color: green;
}
.searchInp {
  width: 35%;
  /* height: 1em; */
  position: relative;
  bottom: 1em;
  text-align: center;
}
